<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <title th:text="#{task.create}">タスク入力</title>
  </head>
  <body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation" id="global-header" layout:fragment="header">
      <div class="header-top">
        <div class="header-content">
          <div class="app-content">
            <a class="button-left" th:href="@{/tasks/top}">todoapp</a>
          </div>
          <div class="buttons">
            <a class="button-light" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/tasks/list}">タスク一覧</a>
            <a class="button-light" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/tasks/create}">タスク入力</a>
            <form th:if="${#authorization.expression('isAuthenticated()')}" th:action="@{/logout}" method="post">
              <button type="submit" class="button-light">ログアウト</button>
            </form>
  
            <a class="button-light" th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/signup}">ユーザ登録
            </a>
            <a class="button-light" th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}">ログイン
            </a>
          </div>
        </div>
      </div>
    </nav>
  </body>
</html>