<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <title th:text="#{task.create}">タスク入力</title>
</head>

<body>
  <div layout:fragment="content">

    <form th:action="@{/tasks/create}" method="post" th:object="${taskForm}">

    <ul>
      <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li>
    </ul>
		
		<table>
      <tr>
        <td><label for="taskName" th:text="#{taskName}">タスク名</label></td>
        <td><input type="text" name="taskName" th:value="*{taskName}" id="taskName"/></td>
        <td><label for="day" th:text="#{day}">期限</label></td>
        <td><input type="date" name="day" th:value="*{day}" id="day"/></td>
      </tr>
      <tr>
        <td><label for="prioritize" th:text="#{prioritize}">優先度</label></td>
        <td>
          <select id="type" name="type">
            <option value="">--</option>
            <option th:each="prioritize : *{prioritizes}" th:value="${prioritize.value}"
                    th:selected="${prioritize.value} == *{type}"
                    th:text="${prioritize.label}"></option>
          </select>
        </td>
      </tr>
	</table>
	<button type="submit" th:text="#{register}">登録</button>

	</form>
	</div>
</body>

</html>