<!DOCTYPE html>
<html lang="ja"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title th:text="#{user.create}">ユーザ登録</title>
</head>

<body>

<div layout:fragment="content">

  <section class="hero is-fullheight">

    <div class="hero-body">
      <div class="container">

        <form th:action="@{/signup}" method="post" th:object="${userForm}">
          <ul>
            <li th:each="error: ${#fields.detailedErrors()}" th:text="${error.message}"></li>
          </ul>
          <div class="columns is-centered">
            <div class="column is-5-tablet is-4-desktop is-3-widescreen">

              <div class="field">
                <label class="label" th:text="#{loginId}">ログインID</label>
                <div class="control has-icons-left">
                  <input type="text" name="loginId" class="input"
                         th:value="*{loginId}">
                  <span class="icon is-small is-left">
                  <i class="fa fa-fingerprint"></i>
                </span>
                </div>
              </div>

              <div class="field">
                <label class="label" th:text="#{nickname}">名前</label>
                <div class="control has-icons-left">
                  <input type="text" name="nickname" class="input"
                         th:value="*{nickname}">
                  <span class="icon is-small is-left">
                      <i class="fa fa-user"></i>
                    </span>
                </div>
              </div>

              <div class="field">
                <label class="label" th:text="#{email}">メールアドレス</label>
                <div class="control has-icons-left">
                  <input type="text" name="email" class="input"
                         th:value="*{email}">
                  <span class="icon is-small is-left">
                      <i class="fa fa-envelope"></i>
                    </span>
                </div>
              </div>

              <div class="field">
                <label class="label" th:text="#{password}">パスワード</label>
                <div class="control has-icons-left">
                  <input type="password" name="password" class="input"
                         th:value="*{password}">
                  <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
			  </div>
			  
			  <div class="field">
                <label class="label" th:text="#{job}">パスワード</label>
                <div class="control has-icons-left">
                  <input type="job" name="job" class="input"
                         th:value="*{job}">
                  <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                </div>
              </div>

              <div class="field">
                <button class="button is-success" th:text="#{register}">登録</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>

</body>
</html>